/* .App {
  text-align: center;
}

.nav-area a{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background: antiquewhite;
  max-height: 3em;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-wrapper{
  max-width: 1000px;
  margin: 2% auto;
}

.nav-area ul{
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.nav-area li{
  position: relative;
  width: 100%;
  text-align: center;
}

.nav-area a:hover{
  color:burlywood;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.1),
              -4px -4px 10px white,
                4px 4px 10px 0 rbga(0,0,0,0.1) inset, 
              -4px -4px 10px white inset;

}
.nav-area li:hover .line-1>li{
  display: block;
  top: 0;
}
.line-1 li{
  display: none;
  position: relative;
}
.line-1{
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  flex-direction: column;
  width: 100%;
}
 */
