/* eslint-disable */ 
html {
  height: 100%; /* <------------ */
}

/* body {
  text-align: center;
} */
body {
  height: 100%; /* <------------ */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  align-items: center;
}
ul{
  padding-inline-start: 0px;
}
/* NAV BAR */

/*account page*/
.account-container{
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 30px;
  padding-right: 10px;
}
.account-head{
  padding-bottom: 50px;
  text-align: center;
}
.account-grid{
  padding-top: 30px;
  text-align: center;
}

.login-container{
  padding-top: 50px;
}
.signup-container{
  padding-top: 50px;
}


#dd{
  margin: 0px;
}

.nav-area a{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background: antiquewhite;
  max-height: 3em;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-wrapper{
  max-width: 1000px;
  margin: 2% auto;
}

.nav-area ul{
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.nav-area li{
  position: relative;
  width: 100%;
  text-align: center;
}

.nav-area a:hover{
  color:burlywood;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.1),
              -4px -4px 10px white,
                4px 4px 10px 0 rbga(0,0,0,0.1) inset, 
              -4px -4px 10px white inset;

}
.nav-area li:hover .line-1>li{
  display: block;
  top: 0;
}
.line-1 li{
  display: none;
  position: relative;
}
.line-1{
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  flex-direction: column;
  width: 100%;
}


/* --------- main map box ---------- */

#mapbox-wrapper{
  margin: auto;
  width:100%;
  max-width: 676px;
  max-height: 400px;
  height: 100%;
  min-height: 400px;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  }
  
  .mapboxgl-canvas{
    /* width:100%;
    height: 100%; */
    max-width: 676px;
    max-height: 400px;
    min-height: 200px;
    min-width: 200px;
  }

 .mapboxgl-control-container{
   display:none;
 }
   
  /* .sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  } */

  /* -----------large searchbar-------------- */
 
/* -----------main header container-------------- */
  .main-header-container{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    max-height: 500px;
    position:relative;
  }

  #bg1{
    max-height: 500px;
    z-index: -1;
  }

  #mast{
    background-image: url('./photo/testbg1.jpg');
    margin: 0 auto;
    min-height:400px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
/* --------- landing breweries ---------- */
/* most of this css is in the semantic ui module */

#landing-breweries{
  margin-bottom: 10px;
}

#landing-card{
  min-height: 350px;
}

/* ---------map-side brewery display---------- */
.five.wide.column{
  max-height: 450px;
  overflow: scroll;
}

#small-search-map{
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

  
#small-input {
  width: 332px;
  margin-bottom: 5px;
}
html::-webkit-scrollbar {
  display: none;
}

.five.wide.column::-webkit-scrollbar {
  display: none;
}

#logo{
  height: 100px;
  width: 100px;
}
#logo:hover{
  box-shadow: none;
  border: none;
}




.menu.transition.visible {
  margin: 0 !important;
}
.menu.transition.transition {
  margin: 0 !important;
}
.ui.item.simple.dropdown{
  min-width: 120px;

}

.border-1 {
  border: 1px solid black;
}


#states-div{
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#state-column{
  display: flex;
  justify-content: center;
  max-width: 200px;
}

#state-card {
  max-width: 150px;
}

#small-input2{
  display: flex;
  flex-shrink: 2;
}
#search-div2.item{
  
  display: flex;
}
#filter-state-input{
  width: 100%;
  max-width: 500px;
  min-width: 400px;
}
@media screen and (max-width:400px) {  
  #small-input2 {
    display: none;
  }
  #search-div2.item{
    display: none;
  }
  #filter-state-input{
    width: 100%;
    max-width: 450px;
    min-width: 300px;
  }
}

